* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#iekzmh {
    width: 600px;
    en: 1;
    border-radius: 50% 50% 50% 50%;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}

.logo path {
    pointer-events: none;
    fill: none;
    stroke-linecap: round;
    stroke-width: 7;
    stroke: rgb(255, 255, 255);
}

.wechat-group img {
    max-width: 220px;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
}

.welcome-img img {
    width: 100%;
    max-width: 280px;
}

.c4168 {
    bottom: 10%;
    right: 2%;
}

.c8487 {
    padding: 10px;
    text-align: center;
    width: 373px;
}

.c8900 {
    padding: 10px;
    width: 414px;
}

.c9913 {
    font-weight: normal;
}

.c12407 {
    width: 80px;
}

.img-mask {
    border-radius: 50% 50% 50% 50%;
}

@media (max-width: 992px) {
    .c13752 {
        padding: 10px;
    }
}